
<!DOCTYPE html>
<html lang="es">
<head>
	<title>Plantilla de página</title>
	<link rel="shortcut icon" type="image/png" href="img/nfavicon.png">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Realizamos asesorías en Empleabilidad, para que mejores tus posibilidades de encontrar trabajo.">
    <meta name="keywords" content="Asesoria, Empleabilidad, Buscar trabajo, Curriculum Vitae, Asesoria en Entrevista">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/39b538c475.js" crossorigin="anonymous"></script>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/awa.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
	
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173704931-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-173704931-1');
	</script>
</head>
<body>
	<section>
		<header id="nav">
			<div class="navbar">
				<img class="img" src="{% static 'img/logo4.png' %}" alt="Mi logo" width="280">
				
				<nav>
					<div class="navbar">
						<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Inicio</a> 
						<a href="#about"><i class="fa fa-fw fa-search"></i> Nuestra propuesta</a> 
						<a href="#servicios"><i class="fa fa-fw fa-envelope"></i> Servicios</a> 
						<a href="#contacto"><i class="fa fa-fw fa-user"></i> Contacto</a>

						{% if perms.user.add_user %}
						<a href="#"><i class="fas fa-tools"></i> <u> Gestionar Productos</u></a>
						{% endif %}
						{% if user.is_authenticated %}
						<a href="{% url 'logout' %}" class="anavbar"><i class="fas fa-user-times"></i><b class="textonav">Cerrar sesión</b></i></a>	
						
						<a href="#" >@{{ user.first_name}}</a>
						{% else %}
						<a href="{% url 'login' %}" class="anavbar"><i class="fas fa-user-tie"></i><b class="textonav">Iniciar sesión</b></i></a>
						{% endif %}
					</div>
				</nav>
			</div>
		</header>
		{% if messages %}
			{% for m in messages %}
				<script>
					Swal.fire({
						"title": "{{m}}",
						"position":"top-end",	
						"showConfirmButton": false,
						"timer": 1000,
						"icon": "success",
						
					})
				</script>
			{% endfor %}
		{% endif %}
	</section>
	
	<section id="portada">	
		<div>
			<h1><strong>Diego's Plantilla	
			</strong></h1>
		</div>
	</section>

	<hr id="about">

	<section class="sobre">
		<div>
			<center><img src="{% static 'img/propuesta.png' %}" alt="Icono de propuesta"></center>
			<h2 class="">Nuestra Propuesta</h2><br>
			<p class="">Queremos que las personas y las organizaciones descansen sus preocupaciones con nosotros. Somos una consultora especializada en asesorar a personas en materia de <strong>Empleabilidad</strong>, brindando herramientas que mejoren sus posibilidades de insertarse rápidamente en el mercado laboral. A su vez, ofrecemos a organizaciones servicios de <strong>Reclutamiento y Selección</strong> completos, además de elaboración y diseño de <strong>Perfiles de Cargo</strong>.
			Como consultora, nos comprometemos a darles las herramientas a cada individuo para que pueda ser la mejor versión de sí mismo, como a su vez, proveer a las empresas del mejor capital humano disponible.</p>
		</div>
	</section>

	<hr id="servicios">

	<section>
		<h2 class="tiserv">Servicios</h2>
		<div class="services">
			<div class="serv">
				<img src="{% static 'img/asesoria.png' %}" alt="Icono Asesoria Empleabilidad">
				<h3>Confiabilidad</h3>
				<p>Tenemos una confianza increíble con nuestra empleabilidad. Entregamos un servicio en excelencia de condiciones para nuestros diferentes servicios.</p>
			</div>
				
			<div class="serv">
				<img src="{% static 'img/perfil.png' %}" alt="Icono Perfiles de Cargo">
				<h3>Nosotros</h3>
				<p>Construimos una empresa a partir del cargo que puedan ajustarse a los requerimientos necesarios para que esta salga adelante, incorporando a su vez, los elementos propios que hacen única a esta organización, con el fin de crear la compañía perfecta tanto para nuestros empleados como clientes.</p>
			</div>
				
			<div class="serv">
				<img src="{% static 'img/rys.png' %}" alt="Icono Reclutamiento y Seleccion">
				<h3>Reclutamiento y Selección</h3>
				<p>Realizamos procesos de reclutamiento y selección completos, desde el levantamiento o revisión del perfil del cargo, publicación, recepción de currículums y entrevista por competencias, con el propósito de asegurarnos de entregar los mejores candidatos a la organización para su decisión final.</p>
			</div>
			<div class="serv">
				<img src="{% static 'img/productos2.png' %}" alt="Icono Productos">
				<h3>Productos</h3>
				<p>.</p>
			</div>
		</div>
	</section>
	
	<hr id="contacto">

	<section>
		<div class="contact">
			<h2 class="altura">Contacto</h2>
			
			<div class="imgtextcont">
				<div class="cimg">
					<img src="{% static 'img/iconos/mail.png' %}" alt="Nuestro Correo Electronico">
				</div>
				<div class="ctxt">
					<p>contacto@ferme.cl</p>
				</div>
			</div>
			<div class="imgtextcont">
				<div class="cimg">
					<img src="{% static 'img/iconos/whatsapp.png' %}" alt="Nuestro WhatsApp">
				</div>
				<div class="ctxt">
					<p>+56 9 7123 5125</p>
				</div>
			</div>
			<div class="rrss">
				<a href="#" target="_blank"><img src="{% static 'img/iconos/instagram.png' %}" alt="Enlace a Instagram"></a>
				<a href="#" target="_blank"><img src="{% static 'img/iconos/linkedin.png' %}" alt="Enlace a LinkedIn"></a>
				<a href="#" target="_blank"><img src="{% static 'img/iconos/facebook.png' %}" alt="Enlace a Facebook"></a>
			</div>
		</div>
	</section>

	<hr>

	<footer>
		<p> &copy; Todos los derechos reservados.</p>
	</footer>

</body>
</html>